.navbar {
	width: 100%;
	background-color: #f9f9f9;
}

.content {
}

.embed {
	border: none;
}

.title {
	display: inline-block;
	vertical-align: bottom;
}

.page {
	padding-top: 10px;
}

.page-header{
	padding-bottom: 10px;
}

.menu {

}

.nav-wrapper {
	margin-top: 20px;
	position: absolute;
	top: 0;
	left: 20px;
}

.header {
	width: 100%;
	height: 120px;
	background-color: #1976d2;
	color: white;
	padding-top: 20px;
}

.search {
	width: 100%;
}


.search-bar {
	margin-left: 5px;
	width: 100%;
}

.menu-list {
	counter-reset: item;
	list-style-type: none;
	padding: 0;
	margin-left: 70px;
}

.menu-list li {
  counter-increment: count;
  margin-top: 10px;
}


.menu-list li::before {
	width: 30px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	content: counters(item, ".") " "; counter-increment: item;
	font-weight: bold;
	display: inline-block;
	margin-left: -50px;
	margin-right: 15px;

}

.numberbox {
	display: inline-block;
	background-color: #1976d2;
	width: 60px;
	text-align: center;
	content: counters(item, ".") " "; counter-increment: item;
	font-weight: bold;
	display: inline-block;
	color: white;
	margin-right: 20px;
	font-size: 2.5rem;
}

.numberbox-unselected {
	display: inline-block;
	width: 60px;
	text-align: center;
	padding-top: 2px;
	padding-bottom: 2px;
	content: counters(item, ".") " "; counter-increment: item;
	font-weight: bold;
	display: inline-block;
	color: black;
	margin-right: 20px;
	font-size: 2.5rem;
}


.menu-list .highlighted::before {
	background-color: #1976d2;
	color: white;
}

.menu-list .remove-before::before {
	display: none;
}

.inner-list {
	counter-reset: item;
	list-style-type: none;
}

.inner-list li {
	padding-left: 6px;
}

li {
	cursor: pointer;
}
